
:root {
	--left-color: lightblue;
	--right-color: #E5E7E7;
	--text-color: black;
	--textBack-color: whitesmoke;
	--header-color: rgba(0,0,0,0.3);
	--dot-color: white;
}

.darkMode {
	--left-color: #DDD3C9; 
	--right-color: #3F3B37;
	--text-color: whitesmoke;
	--textBack-color: #FDFDFE;
	--header-color: rgba(255,255,255,0.3);
	--dot-color: black;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
} 

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	/*border: 4px solid green; */

}

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	/* height: 100vh; */
	overflow-x: hidden;
	background: whitesmoke;
	/* border: 3px solid red; */
}


header {
	position: fixed;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	max-height: 17vh;
	background-color: var(--header-color);
	border: 2px solid black;
	justify-content: center;   
	align-items: center; 
	padding-bottom: 5px;
}

nav {
	width: 100vw;
	height: 80%;
	padding-top: 5px;
	padding-bottom: 5px;
	/*border: 1px solid white;*/
	border-left: none;
	border-right: none;
	text-align: center;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style-type: none;
	align-items: center;
	justify-content: center;

}

nav ul li {
	display: inline-block;
	border: 2px solid black;
	background-color: var(--textBack-color); 
	box-shadow: 1.5px 1.7px 2.7px #000;
	margin: 7px;
	padding: 2px 4px 2px 4px;
	font-size: 1.1em;
	vertical-align: middle;
	transition: background 1s;
}

nav ul li a {
	color: #000000;/*#3b3a30;*/
}


.leftBox {
	display: flex;
	flex-direction: column;
	position: relative;
	background: var(--left-color); 
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	/*	border: 4px solid blue; */
	scroll-margin: 20px;
	transition: background 2s;
}

.rightBox {
	position: relative;
	background: var(--right-color);
	height: fit-content;
	width: 100%;
	display: flex;
	border: 1px solid black;
	color: var(--text-color);
	transition: background 2s ease;
}


.profileImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80vw;
	height: 70vh;
	border: 2px solid white; 
	/*  margin-left: 20px;
	margin-right: 20px;
	margin-top: 63px;
	margin-bottom: 10px; */
	margin: 10vh 5% 0 5%;
	padding: 20% 5% 10% 5%;
	gap: 10%;
	}

.mainPic {
	border-radius: 50%;
	/* height: 100%; */
	/* border: 1px solid red;  */
}

.mainText {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
	/* border: 1px solid green;  */
	margin-bottom: 6%;
}

.mainText h1 {
	font-size: xx-large;    
	line-height: 1.5em;
	font-weight: 600;
	color: white;
	text-shadow: 1.5px 2px 3px #000;
	letter-spacing: 0.8px;
}


h1 span {
	display: block;
	/*word-wrap: break-word;*/
	/*  border: 2px solid blue;*/
}

article {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px double var(--left-color);
	width: 100%;
	margin: 10px;
	/* border: 3px solid black; */

}

.toolTip {
	opacity: 0;
	transition: opacity 0.5s ease;
	position: absolute;
	top: -35px;

	/*border: 2px solid red;*/
}

section {
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border: 3px ridge whitesmoke;
	/*#ccdce4;*/
	scroll-margin-top: 16vh;
}

section :is(h2, .sub h3) {
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: var(--text-color);
}

.sub {
	border: 3px groove rgba(255, 255, 255, 0.9);
	/*		background: rgba(230, 230, 236, 0.6);*/
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;

}

:is(.sub h3, h2) {
	margin-bottom: 6px;
	line-height: 1.5em;
}


.subSkills {
	display: block;
	padding: 0 10%;
	margin-top: 5%;
	margin-bottom: 5%;

}

.subSkillsItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 6% 0 6% 0;
	text-align: center;
}

.subSkillsItem p, .subSkillsList ul li {
	font-size: 0.88em;
	font-family: sans-serif;
	text-align: top;
}


.kropka {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: FFF;
	transition: background 2s;
}

.active {
	background: var(--text-color);
}

.subSkillsList {
	display: grid;
	grid-template-columns: repeat(2, 0.5fr);
	column-gap: 10%;
	padding: 0 5%;
	margin-top: 0%;
	
}

.subSkillsList ul  {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: auto;	
	margin-right: auto;	
}

.subSkillsList ul li {
	margin-bottom: 10%;
}


.description {
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;

	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: repeat(2, 150px);

	border: 1px solid white;
}


.sepDos {
	display: block;
	margin: 7% 0;
}

.sepDos h3::before {
	content: '\' ';
	display: absolute;
}

.sepDos h3 {
	margin-bottom: 1%;
	font-size: 0.9rem;
}

.sepDos p {
	font-size: 0.8rem;
}

.sepDos span:first-child {
	font-size: 0.8em;
	float: right;
}


.opis{
	font-size: 1em;
	font-style: oblique;
	position: absolute;

}



footer {
	/*max-height: 20%;
	width: 100%;*/
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1.5vh repeat(2, 10vh) 4.7vh;
	grid-row-gap: 8px;
	justify-content: center;
	padding: 8px 0px 8px 0px;
	background: var(--left-color);
	display: grid;
	transition: background 2s;
}

.contactMain {
	display: flex;
	grid-area: 2 / 1 / 4 / 5;
	white-space: nowrap;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.08);

}

.contactMain h3 {
	position: relative;	
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 5px;

	/*		border: 1px solid red;*/
}

.cInfo {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px 5px 0px;
	border: 1px solid black; 
	border-left: none;
	border-right: none;

}

.infoBar {
	width: 75%;
	left: 50%;
	height: fit-content;
	border: 1px solid black;
	margin-bottom: 12px;
	padding: 3px;

}

.infoBar ul {
	justify-content: center;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	/* z-index: 1; */
}

.infoScroll {
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 2px;
	height: fit-content;
	/*border: 1px solid green; */

	justify-content: center;
	overflow-x: scroll;
	overflow-y: hidden;
}

i {
	font-size: 20px;
	color: black;
}

a {
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
}

.infoScroll i {
	font-size: 16px;	
}

.infoScroll ul {
	position: relative;
	align-items: center;
	height: fit-content;
	width: 60%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	/*border: 1px solid purple;*/

}

.infoScroll ul li {
	list-style: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	border: 1px solid white;
	overflow-y: hidden;
	scroll-snap-align: start;
	gap: 10px;
}


label {
	grid-area: 4 / 1 / 5 / 2;
	background: #ebebeb;		
	display: block;
	position: relative;
	border-radius: 20px;

	padding-top: 1px;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.fix {
	width: 30px;
	height: 30px;
	margin-left: 20%;
	bottom: 10%;	
}

input {
	visibility: hidden;
}

input[type="checkbox"] + label::before {
	content: '';
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	/* right: 10px; */
	top: 1px;
	background: url('../images/moon-regular.svg');
	background-repeat: no-repeat;
	background-position: 6px -2px;
	opacity: 1;
	transition: opacity 1s ease-in;
}

input[type="checkbox"] + label::after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 35px;
	/* right: 10px; */
	top: 1px;
	background: url('../images/sun-regular.svg');
	background-repeat: no-repeat;
	left: 2px;
	background-position: 0px 3px;
	opacity: 0;
	transition: opacity 1s ease-in;
}

input[type="checkbox"]:checked + label::before{
	content: '';
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	/* right: 10px; */
	top: 1px;
	background: url('../images/moon-regular.svg');
	background-repeat: no-repeat;
	background-position: 6px -2px;
	opacity: 0;
}

input[type="checkbox"]:checked + label::after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 35px;
	/* right: 10px; */
	top: 1px;
	background: url('../images/sun-regular.svg');
	background-repeat: no-repeat;
	left: 2px;
	background-position: 0px 3px;
	opacity: 1;
}


footer button {
	background-color: var(--right-color);/*lightgray;*/
	margin-left: 50%;
	margin-bottom: 20%;
	width: 38px;
	height: 38px;
	grid-area: 4 / 4 / 5 / 5;
	border-radius: 50px;
	transition: background 1s;
}

button a {
	color: var(--text-color);
	font-size: 1.8em;
	font-weight: 900;
}

.klauza {
	display: block;
	font-size: 0.35em;
	min-width: 230px;
	/* margin-left: 5%; */
	grid-area: 4 / 2 / 4 / 4;
	font-style: italic;
	
}


.hidden {
	display: none;
}

.white {
	background: var(--dot-color);
}

