@media (max-width: 320px) { 

	* {
		font-size: 14px;
	  }

	  .aboutLeft, .leftInfo {
		display: none;
	  }

	  .leftInfo {
		display: none;
	 }
	  
	  .mainText h1 {
		font-size: 1.5rem;
	  }

	   
	  h2 {
		font-size: 17px; 
	  }
	  
	  h3 {
		font-size: 15px;
	  }

	  .description #reply ol li {
		font-size: 0.8em;
	  }
	  
	  .contactMain h3 {
		font-size: 14px;
	  }
	  
	  .infoBar ul li i{
		font-size: 16px;

	  }
	  
	  .infoScroll i {
		font-size: 16px;
	  }
	  
	  #reply :is(#locationOf, #dateFromTo) {
		font-size: 10px;
	 }
	 
	 .fix {
		width: 35px;
		height: 35px;
	}

	 
	:is(input[type="checkbox"], input[type="checkbox"]:checked) + label::after {
		top: -1px;
		left: 2px;
		width: 30px;
		height: 35px;
	 }
	
	 :is(input[type="checkbox"], input[type="checkbox"]:checked) + label::before {
		top: 3px;
		width: 30px;
		height: 30px;
	 }
	
	 .listDses .subSkillsItem p {
		width: 100%;
	 }

	 .kropka {
		display: inline-block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: FFF;
	}

	.subSkillsItem p, .subSkillsList ul li {
		font-size: 0.65em;
	}

	.subSkillsList {
		display: grid;
		grid-template-columns: repeat(4, 0.5fr);
		column-gap: 10%;
		row-gap: 20%;
		padding: 5% 5%;
		margin-top: 0%;
		/*grid-template-columns: repeat(2, 0.5fr);*/
	}

	  footer button {
		width: 33px;
		height: 33px;
		margin-left: 5%;
	  }

	  button a { 
		font-size: 1.25em;
	  }

	  .klauza {
		margin-left: 2%;
		min-width: 190px;
	  }
}
 
@media (min-width: 321px)  {

  * {
   font-size: 16px;
 } 

.aboutLeft, .leftInfo {
	display: none;
 }

.sepDos h3 {
	font-size: 0.95rem;
}

.sepDos p {
	font-size: 0.85rem;
}
.listDses .subSkillsItem p {
	width: 100%;
 }
  
 h2 {
   font-size: 17px; 
 }
 
 h3 {
   font-size: 15px;
 }
 
 .contactMain h3 {
   font-size: 16px;
 }
 
 .infoBar ul li i{
   font-size: 16px;
 }
 
 .infoScroll i {
   font-size: 16px;
 }
 
 #reply :is(#locationOf, #dateFromTo) {
   font-size: 10px;
}

.description #reply ol li {
	font-size: 0.9rem;
}

.description a {
	font-size: 0.8em;
}

.fix {
	width: 40px;
	height: 40px;
}


 
:is(input[type="checkbox"], input[type="checkbox"]:checked) + label::after {
	top: -1px;
	left: 2px;
	width: 35px;
    height: 38px;
 }

 :is(input[type="checkbox"], input[type="checkbox"]:checked) + label::before {
	top: 2px;
	width: 35px;
    height: 38px;
 }

 .kropka {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: FFF;
}

.subSkillsItem p, .subSkillsList ul li {
	font-size: 0.65em;
}

.subSkillsList {
	display: grid;
	grid-template-columns: repeat(4, 0.5fr);
	column-gap: 10%;
	row-gap: 20%;
	padding: 5% 5%;
	margin-top: 0%;
	/*grid-template-columns: repeat(2, 0.5fr);*/
}
 
footer button {
   width: 35px;
   height: 36px;
   margin-right: 15%;
   margin-left: auto;
   right: 0;
   margin-bottom: 10%;
   text-align: center;

 }
 
 button a {
   font-size: 1.5em;
   line-height: 1em;
   
 }

 .klauza {
	min-width: 265px;
	font-size: 0.355em;
	margin-left: auto;
	padding-left: 5px;
 }
   
}  
	
@media (min-width: 400px) {
	  * :not(h2, h3) {
   font-size: 1rem;
 }

.mainPic {
	width: 95%;
}

 .aboutLeft, .leftInfo {
	display: none;
 }

 .sepDos h3 {
	font-size: 1.1rem;
}

.sepDos p {
	font-size: 0.99rem;
}


 h3 {
   font-size: 18px;
 }

.description a {
	font-size: 0.92em;
}

 
 .contactMain h3 {
   font-size: 19px;
 }
 
 footer button {
   width: 38px;
   height: 40px;
   text-align: center;
 }
 
 button a {
   font-size: 1.6em;

 }


.klauza {
	min-width: 300px;
	font-size: 0.35em;
}


 :is(input[type="checkbox"], input[type="checkbox"]:checked) + label::after {
	top: -1px;
	left: 2px;
	width: 35px;
    height: 38px;
 }

 :is(input[type="checkbox"], input[type="checkbox"]:checked) + label::before {
	top: 2px;
	width: 35px;
    height: 38px;
 }

 .fix {
	width: 40px;
	height: 40px;
}

.kropka {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: FFF;
}

.subSkillsItem p, .subSkillsList ul li {
	font-size: 0.8em;
}

.subSkillsList {
	display: grid;
	grid-template-columns: repeat(4, 0.5fr);
	column-gap: 10%;
	row-gap: 20%;
	padding: 5% 5%;
	margin-top: 0%;
	/*grid-template-columns: repeat(2, 0.5fr);*/
}

}
@media (min-width: 540px) {
	.kropka {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: FFF;
	}
	
	.subSkillsItem p, .subSkillsList ul li {
		font-size: 0.9em;
	}
	
	.subSkillsList {
		display: grid;
		grid-template-columns: repeat(4, 0.5fr);
		column-gap: 10%;
		row-gap: 20%;
		padding: 5% 5%;
		margin-top: 0%;
		/*grid-template-columns: repeat(2, 0.5fr);*/
	}
} 
	
@media (min-width: 760px), print{

	body, html {
		margin: 0;
		padding: 0;

	}
	.box {
		flex-direction: row;
		justify-content: flex-start;
		margin:0;
		padding: 0;
		box-sizing: border-box;
	}

	.box:nth-child(1) {
		justify-content: flex-end;
	}

	 header, nav, footer, #skills, #about {
		display: none;
	}


	.leftBox {
		width: 30%;
		height: 100vh;
		padding: 0;
		justify-content: flex-start;
		overflow: hidden;
		font-family: sans-serif;
	
	}

	#myName {
		display: block !important;
		/* width: fit-content; */
		top: 0;
		text-align: center;
		font-size: 2em;
		/* margin-top: 2%; */
		 border: 1px solid var(--text-color);
		 border-left: none;
		 border-right: none;
	}

	.profileImg {
		position: relative;
		display: flex;
		/* justify-content: flex-start; */
		height: fit-content;
		width: 75%;
		/* height: 70vh; */
		margin-bottom: 7%;
		margin-top: 5%;
		padding: 2.5%;
		border-radius: 80%;
		/* overflow: visible; */ 
		/* gap: 8%; */
	}

	.mainPic {
		border-radius: inherit;
		height: 100%;
		width: 100%;
		/* border: 1px solid red; */
	}
	


	.mainText {
		display: none;

	}

    .mainText h1 {
		font-size: 1.3rem;
		/* white-space: nowrap;*/ 
		margin-bottom: 10%;
	}



	h1 #labelMain::before {
		content: '';
		display: block;
		position: relative;
		width: 60%;
		height: 2.5px;
		margin-left: auto;
		margin-right: auto;
		background: var(--left-color);
		filter: brightness(87%);
	}

	h1 #labelMain {
		font-size: 0.8em;
		line-height: 30px;
		margin-top: 5%;
		
		font-style: normal;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: none;
	}

	h1 #labelMain::after {
		content: '';
		display: block;
		position: relative;
		width: 60%;
		height: 2.5px;
		margin-left: auto;
		margin-right: auto;
		background: var(--left-color);
		filter: brightness(87%);
	}

	.leftInfo {
		display: block;
		position: relative;
		height: 70%;
		width: 100%;
		padding: 0;
		margin: 10% 0 10% 0;
		/* margin: 0; */
		box-sizing: border-box;
		border: none;
		/* text-align: center; */
	}

	.leftInfo h2 {
		/* margin-top: 10%; */
		width: 100%;
		line-height: 26px;
		background-color: var(--left-color);
		filter: brightness(80%);
		text-decoration: none;
		box-shadow: 0 0 10px 1px black;
		font-size: 0.95em;
		transition: background 2.5s;
	}

	#infoHead {
		margin-top: 13%;
	}
	#nextSub {
		margin-top: 10%;
	}

	.aboutLeft {
		display: block !important;
		padding: 5%;
		padding-top: 0;
		
	}

	.aboutLeft h2 {
		/* text-align: center; */
		font-size: 1.1em;
		line-height: 1.75em;
	}

	.aboutLeft h2::after {
		content: '';
		display: block;
		height: 2px;
		width: 45%;
		/* margin-left: auto; */
		margin-right: auto;
		background: var(--right-color);
		filter: opacity(60%);
		transition: background 2s;
	}

	.aboutLeft p {
		font-size: 0.75em;
		line-height: 1.3em;
		letter-spacing: 0.7px;
		margin-top: 8%;
		
	}

	.mainConLeft {
		padding: 0 2% 0 4%;
		margin: 15% 5% 17% 5%;
		border: 1px solid var(--right-color);
		border-top: none;
		border-bottom: none;
		transition: border 2s;
	}

	.mainConLeft ul {
		list-style: none;
	}

	.mainConLeft ul li {
		margin: 5% 0 5% 0;
	}
	
	
	.mainConLeft ul li :nth-child(1){
		font-size: 1em;
		margin-right: 8px;
	}

	.mainConLeft ul li :nth-child(2) {
		font-size: 0.78em;
		letter-spacing: 0.7px;
		/* color: var(--text-color); */
		/* filter: opacity(90%); */
	}

	.phoneFix {
		margin-left: 3px;
	}

	.overviewSkills {
		/* padding: 0 2% 0 2%; */
		margin: 0 5% 0% 5%;
	}
	
	.overviewSkills h4 {
		text-align: center;
		font-size: 0.85em;
		line-height: 1.5em;
		margin-top: 10%;
	}

	.overviewSkills h4::after {
		content: '';
		display: block;
		height: 2px;
		width: 35%;
		margin-left: auto;
		margin-right: auto;
		background: var(--right-color);
		filter: brightness(40%);
	}


	.subSkills {
		display: block;
		padding: 0 10%;
		margin-top: 10%;
		margin-bottom: 10%;
		border: 1px solid var(--right-color);
		border-top: none;
		border-bottom: none;
		transition: border 2s;
	}

	 .subSkillsItem {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 6% 0 0.6% 0;
		text-align: center;
	}

	.subSkillsItem p {
		font-size: 0.88rem;
		font-family: sans-serif;
	}

	.subSkillsList {
		font-size: 0.88em;
	}
	
	/* #top::before {
		content: '';
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		top: -5px;
		background: var(--right-color);
		filter: brightness(50%);
		left: 0;
	} */

	.kropka {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: FFF;
	}
	
	.active {
		background: var(--text-color);
	}

	.rightBox {
		width: 70%;
		height: 100vh;
		font-family: sans-serif;
		/* border: 4px solid green; */
	}
	
	.rightBox h2 {
		font-size: 0.4rem;
	}


	.description {
		margin: 0;
	}

	.description #namee {
		font-size: 1.15em;
		margin-top: 10px;
	}
	
	.description a {
		font-size: 1em;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	
	.description #dateFromTo{
		font-size: 0.85em;
		margin-top: 10%;
		font-style: normal;
		font-weight: 600;
	}

	#reply #locationOf {
		font-size: 0.75em;
	}

	 
	/*.description #reply ol li {
		font-size: 0.9rem;
	}*/

	.sepDos {
		margin: 5% 0 0 0;
	}

	#first {
		margin-top: 2%;
		font-size: 1rem;
	}

	#first p span {
		font-size: 0.7rem;
		margin-top: 0;
	}

	#first p {
		font-size: 0.8rem;
	}

	#second {
		margin-top: 1rem;
		font-size: 1rem;
	}

	#second p {
		font-size: 0.8rem;
	}

	#third {
		margin-top: 2%;
		font-size: 1rem;
	}

	#third p span {
		font-size: 0.7rem;
		margin-top: 0;
	}

	#third p {
		font-size: 0.8rem;
	}

	.listDses .subSkillsItem {
		justify-content: center;
	}

	label {
		display: block !important;
		align-self: flex-start;
		position: absolute;
		bottom: 2.3%;
		right: 4%;
		width: 40.5px;
		height: 40px;
	
	}

	.klauza {
		display: block !important;
		position: absolute;
		max-width: 420px;
		font-size: 0.35em;
		bottom: 20px;
		left: 25px;
	}

}

@media print {
	#reply #locationOf {
		font-size: 0.85em;
		opacity: 1;
	}

	label {
		opacity: 0;
	}

	.description #namee {
		font-size: 1.2em;
		margin-bottom: 0;
	}

	.description #dateFromTo {
		font-size: 0.85em;
		margin-top: 12%;
	}
	.mainConLeft ul li :nth-child(2) {
		font-size: 0.84em;
	}

	.listDses .subSkillsItem {
		justify-content: center;
	}
	

	article {
		border-top: none;
	}

	.overviewSkills h4 {
		margin-top: 17%;
	}
/* 
	#infoHead {
		margin-top: 17%;
	} */

	.zmiany {
		font-size: 0.9em;
	}

	.klauza {
		min-width: 500px;
		bottom: 17px;
		font-size: 0.38em;
	}
}


@media (min-width: 800px) {

	.klauza {
		max-width: 480px;
		font-size: 0.5em;
		bottom: 15px;
		left: 15px;
	}
}


@media (min-width: 900px) {

	.leftInfo h2 {
		margin-top: 10%;
		line-height: 40px;
		font-size: 1.15em;
	}

	.profileImg {
		width: 85%;
	}

	#myName {
		margin-bottom: 3%;
	}
	#nextSub {
		margin-top: 10%;
	}
	/* .leftInfo::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: var(--right-color);
		filter: opacity(60%);
		left: 0;
	} */

	.rightBox h2 {
		font-size: 1.5em;
	}

	.aboutLeft h2 {
		/* text-align: center; */
		font-size: 1.35em;
		line-height: 1.8em;
	}

	.aboutLeft p {
		font-size: 1em;
	}


	.mainConLeft ul li :nth-child(2) {
		font-size: 1em;
	}


	.overviewSkills {
		/* padding: 0 2% 0 2%; */
		margin: 0 5% 10% 5%;
	}
	
	.overviewSkills h4 {
		font-size: 1.1em;
		margin-top: 15%;
	}

	.subSkillsItem p, .subSkillsList ul li {
		font-size: 1.05em;
	}

	#reply ol li {
		font-size: 9em;
	}

	 #reply :is(#locationOf, .description #dateFromTo) {
   font-size: 1em;
	 }

	 .description {
		padding: 3%;
	 }

	 .description #namee {
		font-size: 1.42em;
		margin-top: 5%;
	}

.description #dateFromTo {
	font-size: 1em;
}

.description #reply ol li {
	font-size: 1.1em;
}

.description a {
	font-size: 1.2em;
}

	.sepDos {
		margin: 5% 0 0 0;
	}

	.sepDos h3 {
		margin-bottom: 2%;
		font-size: 1.3em;
	}
	
	.sepDos p {
		font-size: 1.2rem;
	}

	 .zmiany {
		line-height: 2.4rem;
		font-size: 0.95em;
	
	}

	.klauza {
		min-width: 500px;
		bottom: 13px;
		left: 20px;
	}

	
}

@media (min-width: 760px), print {
	

	.box {
		width: 210mm;
		height: 297mm;
		margin: auto;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	}
	.leftBox {
		height: 100%;
	}
	.rightBox {
		height: 100%;
	}

	.leftInfo {
		margin-top: 0;
	}

	.leftInfo h2 {
		line-height: 1.4em;
		font-size: 1.1em;
	}

	.aboutLeft h2 {
		font-size: 1.15em;
	}

	.aboutLeft p {
		font-size: 0.8em;
	}

	.rightBox h2 {
		font-size: 1.3em;
	}

	.mainConLeft ul li :nth-child(2) {
		font-size: 0.84em;
	}

	.overviewSkills h4 {
		font-size: 1em;
		margin-top: 17%;
	}

	.subSkillsItem p, .subSkillsList ul li {
		font-size: 0.9em;
	}

	.subSkillsList {
		display: grid;
		grid-template-columns: repeat(4, 0.5fr);
		column-gap: 10%;
		row-gap: 20%;
		padding: 2% 5%;
		margin-top: 0%;
		/*grid-template-columns: repeat(2, 0.5fr);*/
	}

	.description {
		padding: 1%;
	}

	.description #namee {
		font-size: 1.2em;
		margin-bottom: 0;
	}

	.description #dateFromTo {
		font-size: 0.9em;
		margin-top: 12%;
	}

	#reply :is(#locationOf, .description #dateFromTo) {
		font-size: 0.85em;
		  }
		  
	 .description a {
			font-size: 1em;
		}

		:is(.description #reply ol li, .sepdos p) {
			font-size: 0.7em;
		}

		.sepDos {
			margin: 1%;
			margin-bottom: 0;
		}

		.sepDos h3 {
			font-size: 1.1em;
		}
	
		section #exp {
			border-bottom: hidden;
		}
		.klauza {
			/* max-width: 20ch; */
			left: 25px;
			padding-right: 42px;
			bottom: 15px;
			font-size: 0.4em ;
		}
		


}



#labelMain {
	color: whitesmoke;
	font-size: 1.2rem;
	line-height: 50px;
	/*text-shadow: none;*/
		text-shadow: 1.5px 1.7px 2.7px #000;
	letter-spacing: 0.6px;
		font-weight: 415;
		font-style: italic;
		text-transform: uppercase;
}

.mainText h1 {
	font-size: 1.5rem;
  }


#pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px outset rgba(64, 53, 65, 0.3);
} 


#info {
		text-decoration: none;
		color: whitesmoke;
		 text-shadow: 1px 2px 2px #000;
}

#info1 {
		gap: 10px;
}

h2 {
	align-self: center;	
	margin-bottom: 12px;
}


#namee {
		padding-top: 3px;
		padding-left: 3px;
	/*	height: 50%;*/
		/*border: 2px solid blue;*/
}

/* label: display */

#dateFromTo {
		margin-top: 10px;
		padding-top: 6px;
		padding-right: 6px;
grid-area: sidebar;
		font-size: 12px;
		font-weight: 350;
		font-style: oblique;
}


#loreto {
		width: 43px;
		height: 40px;
		padding: 2px;
		background-color: var(--header-color);
		border-radius: 10px;
		
}

#umg {
		width: 47px;
		height: 44px;
		top: -40px;
		/* right: 0; */
		padding: 2px 0;
		background-color: var(--header-color);
		border-radius: 10px;
		
}

#locationOf {
		display: block;
		margin-top: 5px;
		font-style: normal;
		font-size: small;
		font-weight: 350;
		transition: transform 0.5s, opacity 0.5s ease;
 opacity: 0;
		
		/*border: 1px solid black;*/
}


#reply {
		padding-top: 2px;
		padding-left: 6px;
		padding-bottom: 6px;
	margin-top: 10px;
		font-style: italic;
		font-weight: 400;
/*		height: 100%; */
		grid-column: 1 / 3;
	/*	grid-row: 2 / 3;*/
		border-right: none;
		list-style-position: inside;
/*		border: 1px solid yellow;*/
}

#reply ol li {
	line-height: 1.5em;
	list-style-position: inside;
	font-size: 1rem;

}

#reply a {
		transition: transform 0.3s;
		text-decoration: underline;
		text-decoration-style: solid;
}

#reply a:link, #reply a:visited {
		color: var(--text-color);
}

#reply a:hover {
		transform: translateY(-5px);
}

#reply a:hover .toolTip {
		opacity: 1;
}

a:hover + #locationOf {
		transform: translateX(10px);
		opacity: 1;
}

#reply a:active {
		color: red;
}

#about p {
	margin: 5%;
}

